<IfModule mod_rewrite.c>
    # add
    # <FilesMatch "\.(ttf|otf|eot|svg|woff)$">
    #     <IfModule mod_headers.c>
    #         Header set Access-Control-Allow-Origin "*"
    #     </IfModule>
    # </FilesMatch>
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            <FilesMatch "\.(bmp|cur|gif|ico|jpe?g|png|svgz?|webp|pdf)$">
                
                Header set Access-Control-Allow-Origin "*" env=IS_CORS
            </FilesMatch>
        </IfModule>
    </IfModule>
    #add end

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
# add
# <IfModule mod_rewrite.c>
#   RewriteEngine on
#   RewriteCond %{REQUEST_URI} !^public
#   RewriteRule ^(.*)$ public/$1 [L]
# </IfModule>

