* {
  color: #000;
  font-size: 14pt;
  text-align: left;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header */
.navbar {
  background-color: rgb(44, 106, 148);
}

/* main vue file*/
.mainarea {
  padding-top: 10pt;
}

/* 論壇分類 */
.forums {
  list-style: none;
  width: 20%
}

/* 文章區塊 */
.card {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

/* 註冊、登入 下拉式選單*/
.dropdown {
  right: 128px;
  width: 50px;
}

/*article*/
.warning {
  color: red;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}