/* font-awesome */
/* @import "@fortawesome/fontawesome-free/css/all.css"; */


* {
  color: #000;
  font-size: 14pt;
  text-align: left;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:href {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* header */
.navbar {
  background-color: rgb(44, 106, 148);
}

/* 註冊、登入 下拉式選單*/
.dropdown {
  right: 128px;
  width: 50px;
}

/* main vue file*/
.mainarea {
  padding-top: 10px;
}

/* 看板區塊*/
.forums {
  list-style: none;
  width: 20%
}

/*看板按鈕樣式*/
.forumsButton {
  border-style: none;
  margin-bottom: 8px;
  background-color: transparent;
}

/* 文章區塊 開始*/
/* 文章區塊 */
.card {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

/*留言者名稱、時間*/
.replyer {
  font-size: smaller;
}

/*愛心圖示*/
.fa-heart:hover {
  color: red;
}

/* 發送留言按鈕 */
.replyButton {
  margin: 5px;
}

/*分隔線*/
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* 文章區塊 結束*/

/*新增文章*/
.warning {
  color: red;
}